version: "3.7"
services:

  nginx:
    #image: nginx:0.1
    image: 192.87.106.18:56001/nginx:0.1
    labels: 
      MY_DLO_ENVIRONMENT: development
      MY_DLO_PURPOSE: an idp
    ports:
      # platform:56000+, dev:57000+, demo:58000+, pilot:59000+
      - 57002:80
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - dev-net
    volumes:
      #- $PWD/conf:/etc/nginx/conf.d
      #- $PWD/html:/usr/share/nginx/html
      #- $PWD/src/simplesamlphp:/var/simplesamlphp
      - /mnt/nfs/nfsdlo/dev-net/idp-0.1/conf:/etc/nginx/conf.d
      - /mnt/nfs/nfsdlo/dev-net/idp-0.1/html:/usr/share/nginx/html
      - /mnt/nfs/nfsdlo/dev-net/idp-0.1/src/simplesamlphp:/var/simplesamlphp

  php:
    #image: php-fpm:0.1
    image: 192.87.106.18:56001/php-fpm:0.1
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - dev-net
    volumes:
      #- $PWD/src/simplesamlphp:/var/simplesamlphp
      - /mnt/nfs/nfsdlo/dev-net/idp-0.1/src/simplesamlphp:/var/simplesamlphp

  startup:
    #image: alpine:0.1
    image: 192.87.106.18:56001/alpine:0.1
    deploy:
      replicas: 1
      restart_policy:
        condition: none
    secrets:
      - idp_ssp_admin_password
    environment:
      SSP_LDAP_HOST: '192.87.106.21'
      SSP_LDAP_DOMAIN: 'dc=surfuni,dc=org'
      SSP_BASEURL: 'http://idp.dlo.surfnet.nl'
      SSP_ADMIN_PASS: /run/secrets/idp_ssp_admin_password
      SSP_CONTACT_NAME: 'Herman van Dompseler'
      SSP_CONTACT_EMAIL: 'herman@surfnet.nl'
      SSP_THEME: 'surfuni:surfuni'
    networks:
      - $STACK_NETWORK
    volumes:
      #- $PWD/src/$STACK_SERVICE:/app
      - /mnt/nfs/nfsdlo/dev-net/idp-0.1/src/simplesamlphp:/data
      - $PWD/startup.sh:/startup.sh

networks:
  dev-net:
    external: true

secrets:
  idp_ssp_admin_password:
    external: true

